{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Supabase": {
    "ConnectionUrl": "postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
  },
  "AllowedHosts": "*"
}
